body{
    font-family: '1942 report', '295PANIChaBuDemo', 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    font: bold 24px '1942 report', '295PANIChaBuDemo', 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    background-color: #e9e9e9;
}

#wapper{
    width: 1080px;
    background-color: white;
    margin: 0 auto;
    padding: 10px;
    border: 5px solid #dedede;
}

#banner{
    background-image: url('../Images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    border: 5px solid #e3e3e3;
}

#content_area{
    float: left;
    width: 750px;
    margin: 20px 0 20px 0;
    padding: 10px;
}

#sidebar{
    float: right;
    width: 250px;
    height: 400px;
    margin: 20px 10px;
    padding: 10px;
    border: 2px solid #e3e3e3;
}

#footers{
    clear: both;
    width: auto;
    height: 40px;
    padding: 10px;
    border: 3px solid #e3e3e3;
    text-align: center;
    color: #fff;
    text-shadow: 0.1em 0.1em #333;
    background-image: url('../Images/footer.png')
}

#navigation{
    height: 60px;
    border: 3px solid #e3e3e3;
    margin-top: 20px;
    background-image: url('../Images/navigation.png');
    text-shadow: 0.1em 0.1em #333;
    font-weight: bolder;
}

#nav{
    list-style: none;
}

#nav ul{
     list-style: none;
      margin: 0;
      padding: 0;
      width: auto;
      display: none;
 }

#nav li{
    font-size: 24px;
    float: left;
    position: relative;
    width: 180px;
    height: 50px;
}

#nav li ul li{
    background-image: url('../Images/bar_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #e3e3e3;
    padding-left: 10px;
}

#nav a:link, a:active, a:visited{
    color: #fff;
    display: block;
    text-decoration: none;
}

#nav a:hover{
    color: lightblue;
}

.imgLeft{
    float: left;
    width: 199px;
    height: 249px;
    margin: 0 10px 0 10px;
    padding: 10px;
}

.imgRight{
    float: right;
    width: 200px;
    height: 250px;
    margin: 0 0 10px 10px;
    padding: 10px;
}

.werableTable{
    width: 750px;
    height: 250px;
    margin: 10px 10px 10px 0;
    border: 3px solid #e3e3e3;
    border-radius: 10px;
}

.werableTable tr th, .werableTable tr td{
    text-align: left;
    padding: 0 5px 0 5px;
}

.werableTable img{
    padding: 0 10px;
    height: 150px;
    width: 150px;
}

#ContentPlaceHolder1_pnlProducts div{
    float: left;
    width: 250px;
    height: 250px;
}

.ProductImage{
    width: 150px;
    height: 150px;
    vertical-align: central;
    padding: 10px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.ProductName{
    margin: 0 5px 0 5px;
    width: 150px;
    font-weight: bold;
    font-size: 18px;
    color: gray;
}

.ProductPrice{
    margin: 0 5px 0 5px;
    width: 150px;
    color: orangered;

}










